@font-face {
    src: url("../../../../resources/PatuaOne-Regular.ttf");
}

@font-face {
    src: url("../../../../Resources/SourceSansPro-Regular.ttf");
}

@font-face {
    src: url("../../../../resources/SourceSansPro-SemiBold.ttf");
}

@font-face {
    src: url("../../../../resources/SourceSansPro-Bold.ttf");
}

.button {
   -fx-background-color: #f6f6f6;
   -fx-font-family: "Patua One";
   -fx-border-radius: 5px;
   -fx-font-size: 30px;
}



.subcategory-button {
    -fx-background-color: rgba(0,0,0,0);
    -fx-border-color: #4cc773;
    -fx-border-width: 3px;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.0), 0, 0, 0, 0);
}

.subcategory-button-selected {
    -fx-background-color: #4cc773;
    -fx-text-fill: white;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.0), 0, 0, 0, 0);

}

.source-sans-regular {
    -fx-font-family: "Source Sans Pro";
}

.source-sans-semibold {
    -fx-font-family: "Source Sans Pro SemiBold";
}

.source-sans-bold {
    -fx-font-family: "Source Sans Pro Bold";
}

.patua-text {
    -fx-font-family: "Patua One";
}

.color-green{
    -fx-background-color: #4cc773;
}

.header{
   -fx-background-color: #FFFFFF;
}

.standard-background{
    -fx-background-color: #f6f6f6
}
.white-scrollpane{
   -fx-background: #FFFFFF;
   -fx-border-color: #FFFFFF;
}
.checkout-boxes{
   -fx-background-color: #FFFFFF;
       -fx-border-radius:5;

}
.search-bar{
    -fx-border-color: #000000;
    -fx-border-radius: 5 0 0 5  ;
}
.text-field-checkout{
-fx-background-color: #E9E9E9;
    -fx-font-family: "Source Sans Pro";

}
.button-shadow{
   -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.5), 7, 0.1, 0, 2);
}

.add-button {
    -fx-background-color: #4cc733;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.remove-button {
    -fx-background-color: #c6c6c6;
    -fx-background-radius: 5px;
    -fx-border-radius: 5px;
    -fx-border-color: black;
    -fx-border-width: 1px;
}

.search-button{
    -fx-border-radius: 0 5 5 0;
    -fx-border-color: #000000;
    -fx-graphic: url('../../../../resources/icons/outline_search_white_48dp.png');

}
.example-text-color{
    -fx-text-fill: #f6f6f6;
    -fx-font-family: "Source Sans Pro";
    -fx-font-size: 18px;
}
.next-button{
    -fx-text-fill: #ffffff;
    -fx-font-family: "Source Sans Pro";
       -fx-font-family: "Patua One";
    -fx-font-size: 45px;

}
.green-circle{

}